@model Setup.Models.Account.AccountModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<section class="vh-100">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create an account</h2>
                            @using (Html.BeginForm())
                            {
                                <div class="form-outline mb-4">
                                    @Html.LabelFor(s => s.Username, new { @class = "form-label" })
                                    @Html.TextBoxFor(s => s.Username, new { @class = "form-control", placeholder = "Username" })
                                    <div class="text-warning">
                                        @Html.ValidationMessageFor(t => t.Username)
                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                    @Html.LabelFor(s => s.Email, new { @class = "form-label" })
                                    @Html.TextBoxFor(s => s.Email, new { @class = "form-control", placeholder = "name@example.com" })
                                    <div class="text-warning">
                                        @Html.ValidationMessageFor(t => t.Email)
                                    </div>
                                </div>

                                <div class="row g-2 form-outline mb-4">
                                    <div class="col-auto">
                                        @Html.LabelFor(s => s.Password, new { @class = "form-label" })
                                        @Html.PasswordFor(s => s.Password, new { @class = "form-control", placeholder = "Password" })
                                        <div class="text-warning">
                                            @Html.ValidationMessageFor(t => t.Password)
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        @Html.LabelFor(s => s.ConfirmPassword, new { @class = "form-label" })
                                        @Html.PasswordFor(s => s.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password" })
                                        <div class="text-warning">
                                            @Html.ValidationMessageFor(t => t.ConfirmPassword)
                                        </div>
                                    </div>
                                </div>

                                @* <div class="form-outline mb-4"> *@
                                @*     @Html.LabelFor(s => s.Password, new { @class = "form-label" }) *@
                                @*     @Html.PasswordFor(s => s.Password, new { @class = "form-control", placeholder = "Password" }) *@
                                @*     <div class="text-warning"> *@
                                @*         @Html.ValidationMessageFor(t => t.Password) *@
                                @*     </div> *@
                                @* </div> *@

                                @* <div class="form-outline mb-4"> *@
                                @*     @Html.LabelFor(s => s.ConfirmPassword, new { @class = "form-label" }) *@
                                @*     @Html.PasswordFor(s => s.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password" }) *@
                                @*     <div class="text-warning"> *@
                                @*         @Html.ValidationMessageFor(t => t.ConfirmPassword) *@
                                @*     </div> *@
                                @* </div> *@

                                @* <div class="form-check d-flex justify-content-center mb-5"> *@
                                @*     <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg"/> *@
                                @*     <label class="form-check-label" for="form2Example3g"> *@
                                @*         I agree all statements in *@
                                @*         <a href="#!" class="text-body"> *@
                                @*             <u>Terms of service</u> *@
                                @*         </a> *@
                                @*     </label> *@
                                @* </div> *@

                                <div class="d-flex justify-content-center">
                                    <input type="submit" class="btn btn-primary btn-block btn-lg text-body"/>
                                </div>
                            }
                            <p class="text-center text-muted mt-5 mb-0">
                                Already have an account? <a href="#!" class="fw-bold text-body">Login here</a>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>