@model AccountDetails
@{
    ViewData["Title"] = "Account";
}

<div class="text-center">
    <h1 class="display-4 text-light">@ViewData["Title"]</h1>
    <div class="d-flex flex-sm-row flex-column justify-content-evenly flex-wrap content-gdpr-accept hide">
        <section class="p-2 border rounded text-light">
            <h3>@Model.Name</h3>
            <p>@Model.Description</p>
        </section>
        <section class="p-2  border rounded text-light">
            <h3>Image</h3>
            @* Replace with actual image *@
            <img src="favicon.ico" alt="Image of developer"/>
        </section>
        <section class="p-2 border rounded text-light">
            <h3>Skillset</h3>
            <ul>
                @{
                    foreach (var skill in @Model.Skills)
                    {
                        <li>@skill</li>
                    }
                }
            </ul>
        </section>
        <section class="p-2 border rounded text-light">
            <h3>Opleiding en werkervaring</h3>
            <p>Meer info</p>
        </section>
    </div>
</div>